---
import Layout from "@/layouts/Layout.astro";
import BlankChessBoard from "@/components/ChessBoard.astro";
---

<Layout title="Chess 960 Generator">
	<div class="flex flex-col gap-y-8">
		<div id="chessboard">
			<BlankChessBoard />
		</div>
		<div>
			<button
				class="border px-4 py-2 rounded-lg text-2xl flex items-center select-none gap-x-2"
				hx-get="/partials/generatedChessBoard"
				hx-target="#chessboard"
				>Generate a board
				<img
					class="my-0 opacity-0 htmx-indicator h-7"
					src="/spinner.svg"
				/>
			</button>
		</div>
	</div>
</Layout>
